* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Lato", sans-serif;
}


.boxheader{

  background-color: black;
    display:flex ;
    max-width: 100%;
    height: 100px;

}
  

